<div class="ads">
    <div class="ads-wrap">
        <div class="place">
            <div class="form">
                <form>
                    <h2>LOGIN</h2>
                    <div class="textinput">
                        <input name="username" type="text" placeholder="username" required>
                    </div>
                    <div class="textinput">
                        <input name="password" type="password" placeholder="password" required>
                    </div>
                    <div class="textinput">
                        <input type="submit" value="LOGIN">
                    </div>
                    <div class="textinput">
                        <input type="submit" value="REGISTER">
                    </div>
                </form>
            </div>
        </div>	
    </div>	
</div>
