<div class="article">
    <div class="ctx">
        <div class="text">
            <p>рассчитаем нужное вам количество каллорий</p>
        </div>
        <div class="calculator-wrp">
            <div class="calculator">
                <div class="calculator-inner">
                    <div class="gender">
                        <div class="label"></div>
                        <div class="gender-checkbox-wrp">
                            <div class="gender-checkbox-item">
                                <input type="radio" value="male" id="gender1" name="radio-group">
                                <label for="gender1" class="gender-checkbox__name">Мужской</label>
                            </div>
                            <div class="gender-checkbox-item">
                                <input type="radio" value="famale" id="gender2" name="radio-group">
                                <label for="gender2" class="gender-checkbox__name">Женский</label>
                            </div>
                        </div>
                    </div>
                    <div class="parameters">
                        <div class="parameters-item">
                            <div class="label">возраст
                                <span class="label__sub">лет</span>
                            </div>
                            <input type="number" placeholder="0" oninput="javascript: if (this.value.length > this.maxLength)this.value = this.value.slice(0, this.maxLength);" maxlength="3" class="parameters__input">
                        </div>
                        <div class="parameters-item">
                            <div class="label">рост
                                <span class="label__sub">см</span>
                            </div>
                            <input type="number" placeholder="0" oninput="javascript: if (this.value.length > this.maxLength) this.value = this.value.slice(0, this.maxLength);" maxlength="3" class="parameters__input">
                        </div>
                        <div class="parameters-item">
                            <div class="label">вес
                                <span class="label__sub">кг</span>
                            </div>
                            <input type="number" placeholder="0" oninput="javascript: if (this.value.length > this.maxLength) this.value = this.value.slice(0, this.maxLength);" maxlength="3" class="parameters__input">
                        </div>
                    </div>
                    <div class="activity">
                        <div class="label activity-label">
                            физическая активность
                            <div class="activity-label__questionMark"></div>
                            <div class="activity-tooltip">
                                <div class="activity-tooltip-close" src="data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTYiIGhlaWdodD0iMTYiIHZpZXdCb3g9IjAgMCAxNiAxNiIgZmlsbD0ibm9uZSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj4NCjxwYXRoIGZpbGwtcnVsZT0iZXZlbm9kZCIgY2xpcC1ydWxlPSJldmVub2RkIiBkPSJNOC4wMDAzMSA5LjQxNDU0TDQuNzA3NzggMTIuNzA3MkwzLjI5MzYgMTEuMjkzTDYuNTg2MDkgOC4wMDAzMkwzLjI5Mjk3IDQuNzA3Mkw0LjcwNzE4IDMuMjkyOTlMOC4wMDAyNyA2LjU4NjA4TDExLjI5MzIgMy4yOTI5N0wxMi43MDc0IDQuNzA3MjJMOS40MTQ0OSA4LjAwMDI5TDEyLjcwNyAxMS4yOTI4TDExLjI5MjggMTIuNzA3TDguMDAwMzEgOS40MTQ1NFoiIGZpbGw9IiM5QTlBOUEiLz4NCjwvc3ZnPg0K"></div>
                                <span>
                                    <b>Минимальная</b>
                                     — у вас сидячая работа и нет физических нагрузок.
                                </span>
                                <span>
                                    <b>Низкая</b>
                                      — вы изредка тренируетесь и достаточно активны в быту.
                                </span>
                                <span>
                                    <b>Средняя</b>
                                      — вы тренируетесь 3–5 раз в неделю.
                                </span>
                                <span>
                                    <b>Высокая</b>
                                      — вы тренируетесь 6–7 раз в неделю.
                                </span>
                                <span>
                                    <b>Очень высокая</b>
                                      — вы тренируетесь 6 и более раз в неделю и работаете физически.
                                </span>
                            </div>
                        </div>
                        <div class="gender">
                            <div class="label"></div>
                            <div class="gender-checkbox-wrp">
                                <div class="gender-checkbox-item">
                                    <input type="radio" value="1" id="physics1" name="physics-group">
                                    <label for="physics1" class="gender-checkbox__name">Минимальная</label>
                                </div>
                                <div class="gender-checkbox-item">
                                    <input type="radio" value="2" id="physics2" name="physics-group">
                                    <label for="physics2" class="gender-checkbox__name">Низкая</label>
                                </div>
                                <div class="gender-checkbox-item">
                                    <input type="radio" value="3" id="physics3" name="physics-group">
                                    <label for="physics3" class="gender-checkbox__name">Средняя</label>
                                </div>
                                <div class="gender-checkbox-item">
                                    <input type="radio" value="4" id="physics4" name="physics-group">
                                    <label for="physics4" class="gender-checkbox__name">Высокая</label>
                                </div>
                                <div class="gender-checkbox-item">
                                    <input type="radio" value="5" id="physics5" name="physics-group">
                                    <label for="physics5" class="gender-checkbox__name">Очень высокая</label>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
